# Data Cleaning Pandas Assignment

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'From_To' :['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
        'FlightNumber' :[10045, np.nan, 10065, np.nan, 10085],
        'RecentDelays' :[[23, 47], [], [24, 43, 87], [13], [67, 32]],
        'Airline' :['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"SwissAir"']
    }
)

### 1) Some values in the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [2]:
df["FlightNumber"].fillna(10055, limit=1, inplace=True)
df["FlightNumber"].fillna(10075, limit=1, inplace=True)
df["FlightNumber"] = df["FlightNumber"].astype(int)  
print(df.to_string())

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]           "SwissAir"

### 2) The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [3]:
temp = pd.DataFrame({'From':[], 'To':[]})
temp[['From','To']] = df['From_To'].str.split("_",expand=True)
print(temp.to_string())

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

### 3) Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London").

In [5]:
df['From_To'] = df['From_To'].str.title()
print(df.to_string())

            From_To  FlightNumber  RecentDelays              Airline
0      London_Paris         10045      [23, 47]               KLM(!)
1      Madrid_Milan         10055            []    <Air France> (12)
2  London_Stockholm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_Paris         10075          [13]       12. Air France
4   Brussels_London         10085      [67, 32]           "SwissAir"

### 4) Delete the From_To column from df and attach the temporary DataFrame from the previous question.

In [4]:
df.drop(['From_To'], axis=1, inplace=True)
df[['From','To']] = temp
print(df.to_string())

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    LoNDon      paris
1         10055            []    <Air France> (12)    MAdrid      miLAN
2         10065  [24, 43, 87]  (British Airways. )    londON  StockhOlm
3         10075          [13]       12. Air France  Budapest      PaRis
4         10085      [67, 32]           "SwissAir"  Brussels     londOn

### 5) In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

### Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [5]:
Delay = pd.DataFrame({'delay_1': [], 'delay_2': [], 'delay_3': []})
for x in df['RecentDelays']:
    diff = 3 - len(x)
    for i in range(diff):
        x.append(np.nan)
    Delay = Delay.append({'delay_1': x[0], 'delay_2': x[1], 'delay_3': x[2]}, ignore_index=True)

df.drop(['RecentDelays'], axis=1, inplace=True)
df.insert(1, "delay_1", Delay['delay_1'], True)
df.insert(2, "delay_2", Delay['delay_2'], True)
df.insert(3, "delay_3", Delay['delay_3'], True)
print(df.to_string())

   FlightNumber  delay_1  delay_2  delay_3              Airline      From         To
0         10045     23.0     47.0      NaN               KLM(!)    LoNDon      paris
1         10055      NaN      NaN      NaN    <Air France> (12)    MAdrid      miLAN
2         10065     24.0     43.0     87.0  (British Airways. )    londON  StockhOlm
3         10075     13.0      NaN      NaN       12. Air France  Budapest      PaRis
4         10085     67.0     32.0      NaN           "SwissAir"  Brussels     londOn